{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}



{% block content %}
<style>
    .result {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 3px;
    }
    .page_title{
        background-color: green;
        color: white;
    }
</style>

<section class="container">
    <div class="d-flex justify-content-center my-3">
        <h5 class="text-center page_title px-3 py-2">Ai Chat Bot</h5>
    </div>

    <div class="my-4">
        <form action="{% url 'get-answer' %}" method="POST" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-md-4">
                <label class="form-label">Ask Question</label>
                <input type="text" class="form-control" required name="question">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ask</button>
            </div>
        </form>

        <div class="my-4">
            <h5>Result...</h5>
            <hr>
            <div class="result p-2">{{question_answer}}</div>
        </div>
    </div>
</section>

{% endblock %}