{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="container">
    <div class="row justify-content-center">

        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
                <label class="form-label">Ask Question</label>
                <input type="text" class="form-control" required name="question">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ask</button>
            </div>
        </form>

    </div>
</section>

{% endblock %}