{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}



{% block content %}
<style>
    .result{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 3px;
    }
</style>

<section class="container">
    <div class="my-4">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-4">
                <label class="form-label">Ask Question</label>
                <input type="text" class="form-control" required name="question">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Ask</button>
            </div>
        </form>

        <div class="my-4">
            <h5>Result...</h5><hr>
            <div class="result p-2">
                oke nice
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere atque voluptas odio nihil facilis fugit qui, laborum eaque molestias, id possimus iste nemo officia architecto ipsa. Maiores sequi aliquid vero!
            </div>
        </div>
    </div>
</section>

{% endblock %}